.diagram-container {
    padding: 2.5%;
}

.diagram-row {
    max-height: 75vh;
}

.map-container,
.scatter-container,
.area-container {
    background-color: var(--background-light-grey);
    box-shadow: var(--shadow-default);
    border-radius: 20px;
}

.map-container, .small-diagram-container {
    max-height: inherit;
    height: 5000px;
}

.scatter-container, .area-container {
    max-height: calc(50% - 10px);
    height: 5000px;
}

.map-container {
    padding: 2.5%;
    position: relative;
}

.area-container {
    margin-top: 20px;
}

#map {
    height: 100%;
    width: 100%;
}

.scatter-container, .area-container {
    padding: 2.5%;
    position: relative;
}

[id^=i].selected-county {
    stroke-width: 2px !important;
}

.legend {
    position: absolute;
    background-color: var(--background-dark-grey);
    box-shadow: var(--shadow-controls-hover);
    border-radius: 5px;
    top: 20px;
    right: 3.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1%;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.legend img {
    height: 15px;
}

#map path:hover, #scatter-plot circle {
    cursor: pointer;
}

.popup {
    position: absolute;
    opacity: 0.95;
    border-radius: 10px;
    text-align: center;
    background-color: var(--background-body);
    color: var(--font-color);
    font-size: var(--font-size-selector);
    padding: 0.5vh 1vw;
    display: none;
    min-height: 1.5vh;
    box-shadow: var(--shadow-controls);
}

text {
    font-family: var(--font-family);
    font-size: var(--font-size-timeline);
    color: var(--font-color);
}

#area-chart g text {
    font-size: var(--font-size-axis-label);
}