/********************
   CUSTOMS STYLES
********************/

/*
body {
    overflow-y: hidden;
}
*/

nav {
    margin-bottom: 0 !important;
}

nav .uk-logo {
    margin-left: 40px;
    padding: 0;
}

.content-container {
    margin: 20px 40px 0;
    max-width: 1440px;
}

#parameter-container > ul > li > a {
    padding: 10px 10px !important;
    font-size: 1rem !important;
}

footer {
    background: lightgray;
}

footer .uk-grid {
    padding: 5px 40px;
    font-size: 0.45rem;
}

#test {
    background-color: yellow;
    height: 200px;
    width: 200px;
}