/********************
   CUSTOMS STYLES
********************/

/*
body {
    overflow-y: hidden;
}
*/

nav {
    margin-bottom: 0 !important;
}

nav .uk-logo {
    margin-left: 40px;
    padding: 0;
}

.content-container {
    margin: 20px 40px 0;
    max-width: 1440px;
}

#parameter-container > ul > li > a {
    padding: 10px 10px !important;
    font-size: 1rem !important;
}

footer {
    background: lightgray;
}

footer .uk-grid {
    padding: 5px 40px;
    font-size: 0.45rem;
}

#test {
    background-color: yellow;
    height: 200px;
    width: 200px;
}

#timeline{
    margin-top: -5%;
}

#slider{
    width: 100%;
}

#slider-wrapper {
    position: relative;
    bottom: 20px;
    /*width: 80%;*/
}

#axis-slider{
    position: absolute;
    top: 7px;
    z-index: -100;
}

#axis-slider path{
    stroke: white;
}

/* nach: https://codepen.io/mayuMPH/pen/ZjxGEY */

#slider{
    -webkit-appearance: none;
}

#slider:focus{
    outline:none
}

#slider::-webkit-slider-runnable-track{
    width: 100%;
    height: 15px;
    cursor: pointer;
    box-shadow: none;
    background: lightgrey;
    border-radius: 20px;
    border:1px solid grey;
}
#slider::-moz-range-track{
    width: 100%;
    height: 15px;
    cursor: pointer;
    box-shadow: none;
    background: lightgrey;
    border-radius: 20px;
    border:1px solid grey;
}

#slider::-webkit-slider-thumb{
    box-shadow: none;
    border: 2px solid grey;
    height: 22px;
    width: 12px;
    border-radius: 22px;
    background: rgb(129, 125, 125);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -4px;
}

#slider::-moz-range-thumb{
    box-shadow: none;
    border: 2px solid grey;
    height: 22px;
    width: 12px;
    border-radius: 22px;
    background: rgb(129, 125, 125);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -4px;
}

#slider::-moz-focus-outer{
    border: 0;
}

.slider-label {
    position: relative;
    transform-origin: center center;
    display: block;
    width: 20px;
    height: 20px;
    background: transparent;
    border-radius: 50%;
    line-height: 5px;
    text-align: center;
    font-weight: bold;
    box-sizing: border-box;
    border: 2px solid #fff;
    /*left: attr(value);*/
    color: #000;
    font-style: normal;
    font-size: 16px;
}