.content {
    position: relative;
    margin: auto;
    max-width: 1440px;
}

#metricSelection button {
    position: absolute;
    left: 600px;
    width: 150px;
    height: 80px; 
}

#infoText {
    position: absolute;
    top: 0px;
    left: 575px;
    width: 200px;
    height: 80px;
    border-style: solid;
    border-color: black;
    background-color: lightgray;
}

#container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 500px;
    height: 960px;
}

#mySlider {
    position: absolute;
    left: 80px;
    top: 710px;
    width: 500px;
}

#visualisationContainer {
    position: absolute;
    left: 800px;
    top: 50px;
    width: 500px;
}

